

.ppp{
    margin-left: 400px;
    text-align: center;
    margin-top: -17px;
   
}
.ttt{
    text-align: center;
    margin-left: 400px;
    line-height: 80px;
    width: 810px;
   
   
  
}




.qaz{
    margin-left: 500px;
    text-align: center;
    margin-top: -29px;
}
